<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Arend-Jan Tetteroo</string>
	<key>Builder Version</key>
	<string>534.50</string>
	<key>CFBundleDisplayName</key>
	<string>thegreenweb</string>
	<key>CFBundleIdentifier</key>
	<string>com.cleanbits.thegreenweb</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>thegreenweb.html</string>
				<key>Label</key>
				<string>Thegreenweb</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>thegreenweb.js</string>
				<string>jquery-1.6.4.min.js</string>
				<string>thegreenweb-utils.js</string>
				<string>google.js</string>
				<string>bing.js</string>
				<string>yahoo.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>The Green Web shows on each website you visit if it's sustainably hosted. </string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://api.thegreenwebfoundation.org/thegreenweb/safari/update.plist</string>
	<key>Website</key>
	<string>http://www.thegreenwebfoundation.org/add-on</string>
</dict>
</plist>
