.tgwf_green {
    border-bottom:1px dashed #a3c005 !important;
}

.tgwf_question {
    text-decoration: underline;
    color: grey !important;
}

.qtip-green{
	background-color: #CAED9E !important;
	border-color: #90D93F;
	color: #3F6219;
}